@media (max-width:1024px){
    .header-background-image{
        height: auto;
    }
    .header-div-1{
        width: 90%;
    }
    .header-nav{
        max-width: 400px;
        width: 100%;
    }
    .div-wrapper{
        width: 90%;
        height: auto;
    }
    .left-box-heading{
        font-size:30px;
        line-height: 40px;
    }
    .left-box-text{
        font-size: 12px;
        margin-top: 10px;
    }
    .section2-background-image{
        height: 500px;
    }
    .section2-wrapper{
        width: 90%;
    }
    .section2-heading{
        font-size: 30px;
    }
    .small-div{
        max-width:180px;
        width: 100%;
        height: auto;
    }
    .small-div-heading{
        font-size: 16px;
    }
    .small-div-text{
        font-size: 12px;
    }
}
@media(max-width:860px){
    .header-heading{
        font-size: 30px;
    }
    .div-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .left-box{
        margin-bottom: 10px;
        height: auto;
    }
    .left-box-heading{
        height: auto;
    }
    .left-box-text{
        height: auto;
    }
    .small-div{
        max-width: 140px;
        width: 100%;
    } 
}   
@media(max-width:650px){
    .header-nav{
        display: none;
    }
    .fa-bars{
        display: block;
        color: white;
        font-size: 25px;
    }
    .header-heading{
        font-size: 25px;
    }
    .left-box-div{
        height: 25px;
    }
    .right-box{
        height: auto;
    }
    .right-box-1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .image1{
        margin-bottom: 10px;
    }
    .right-box-2{
        width: 100%;
    }
    .image3{
        width: 100%;
    }
    .section2-background-image{
        height: auto;
    }
    .section2-wraper{
        height: auto;
    }
    .big-div{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .small-div{
        max-width: 200px;
        width: 50%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
@media(max-width:480px){
    .header-background-image{
        height: 240px;
    }
    .header-div-2{
        margin-top: 70px;
        margin-left: 50px;
    }
    .header-heading{
        font-size: 20px;
    }
    .div-wrapper{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}       